<div class="main-ctr col">
  <div class="card col">
    <div class="backRow row">
      <strong class="head primary">Resigtered Users</strong>
      <div class="flex-grow"></div>
      <div class="btn btn-outline btn-sm" (click)="copyId()" *ngIf="selectedUser">Copy User ID</div>
      <div class="btn btn-primary btn-sm" (click)="viewUser()" *ngIf="selectedUser">View User</div>
    </div>
    <div class="grid col">
      <app-ag-grid [header]="head" [url]="url" (rowSelected)="rowSelected($event)"></app-ag-grid>
    </div>
  </div>
</div>
