<div class="main-ctr col">
  <div class="card" *ngIf="blogData">
    <div class="backRow row">
      <img
        src="/assets/utilities/back1.png"
        alt=""
        class="back"
        (click)="back()"
      />
      <strong class="primary">Blog Editor</strong>
    </div>
    <div class="row publish">
      <label for="" class="primary">Status:</label>
      <label class="switch">
        <input
          type="checkbox"
          [(ngModel)]="blogData.published"
          (change)="publish()"
        />
        <span class="slider round"></span>
      </label>
    </div>
    <div class="top col" *ngIf="blogData">
      <div class="f1 col">
        <div class="image">
          <div
            class="img"
            [style.background]="'url(' + blogData.image + ')'"
          ></div>
        </div>
        <div class="btn btn-primary" (click)="coverImage.click()">
          Change Image
        </div>
        <br />
        <small *ngIf="uploading" class="danger"
          >Uploading : {{ uploadPercentage }}%</small
        >
        <input
          type="file"
          accept="image/png, image/jpeg"
          style="display: none;"
          (change)="fileChangeEvent($event)"
          #coverImage
          (click)="coverImage.value = ''"
        />
      </div>
      <div class="f2 col cont">
        <label for="">Blog Title:</label>
        <input
          type="text"
          placeholder="Blog title"
          [(ngModel)]="blogData.title"
          maxlength="80"
        />
      </div>
    </div>
    <div class="quill" *ngIf="blogData">
      <quill-editor
        [styles]="editorStyle"
        [(ngModel)]="blogData.content"
        trackChanges="all"
        [modules]="modules"
        placeholder="A detailed explation about your course in not more than 1500 words"
      ></quill-editor>
    </div>
    <br />
    <br />
    <div class="col bttns">
      <div class="btn btn-primary" (click)="save()">Save Blog</div>
      <br />
      <div class="btn btn-danger" (click)="delete()">Delete this Blog</div>
    </div>
  </div>
</div>
<div class="modal" *ngIf="imageChangedEvent">
  <div class="cont col">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="10 / 4"
      format="png"
      class="cropper"
      (imageCropped)="imageCropped($event)"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
    <div class="btn btn-primary" (click)="uploadImage()">Upload Image</div>
    <div class="btn white" (click)="imageChangedEvent = ''">Cancel</div>
  </div>
</div>
