.info {
  .toprow {
    margin-top: 40px;
    .mainImg {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background-color: #eee;
    }
    .rit {
      margin-left: 20px;
      h3 {
        margin: 0;
        font-size: 22px;
      }
      h4 {
        margin: 0 0 10px 0;
        font-size: 18px;
      }
      .tags {
        flex-wrap: wrap;
        margin-top: 15px;
        .tag {
          font-size: 13px;
          font-weight: 600;
          color: #333;
          margin-right: 10px;
          border: 1px solid #333;
          padding: 4px 8px;
          border-radius: 5px;
          box-sizing: border-box;
          user-select: none;
        }
      }
    }
  }


  .section {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 2px solid #ddd;
    .hd {
      font-weight: 600;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
    }
    .tp {
      margin-bottom: 10px;
      font-size: 18px;
    }
    .tpsm {
      font-size: 16px !important;
    }
  }
}
