<div class="main-ctr col">
  <div class="card col info">
    <strong class="primary">Instructor Information</strong>
    <div class="row toprow">
      <img src="/assets/images/demo/profile.jpg" alt="" class="mainImg">
      <div class="col rit">
        <h3>John Doe</h3>
        <h4>johndoe@gmail.com</h4>
        <strong class="primary">+91 9112334567</strong>
        <div class="row tags">
          <div class="tag">Verified</div>
        </div>
      </div>
    </div>
    <div class="section col">
      <small class="hd primary">Basic info</small>
      <strong class="dark">YouTuber, Author, Entrepreneur</strong>
      <p>I’m an author, YouTuber, and speaker who is passionate about helping students succeed. Most of my work today is done at College Info Geek – a site I created in 2010 in order to share my experiments in becoming a more effective student. Today, College Info Geek is one of the world’s largest and best-loved resources for students, and includes a blog, podcast, and a YouTube channel with over 1 million subscribers.</p>
    </div>
    <div class="section col">
      <small class="hd primary">Activity</small>
      <strong class="tp">12 Courses</strong>
      <strong class="tp">2240 Learners</strong>
    </div>
    <div class="section col">
      <small class="hd primary">Preferences</small>
      <strong class="tp">Maximum students per course: 200</strong>
      <strong class="tp">Working Days: Weekdays + Weekend</strong>
      <strong class="tp">Timing: Morning + Evening</strong>
    </div>
    <div class="section col">
      <small class="hd primary">Social Accounts</small>
      <strong class="tp tpsm"><span class="primary">Linkedin:</span> https://www.linkedin.com/in/johndoe</strong>
      <strong class="tp tpsm"><span class="primary">Facebook:</span> https://www.facebook.com/johndoe</strong>
      <strong class="tp tpsm"><span class="primary">Instagram:</span> https://www.instagram.com/johndoe</strong>
      <strong class="tp tpsm"><span class="primary">Twitter:</span> https://www.twitter.com/johndoe</strong>
    </div>

  </div>
</div>
