.viewer {
  margin-top: 40px;
  padding: 20px;
  .image {
    position: relative;
    padding-top: 40%;
    .img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-size: cover !important;
      background-position: 0px center !important;
    }
  }
  .btns {
    align-items: center;
    justify-content: center;
    .btn {
      min-width: 300px;
      margin: 10px;
    }
  }

  h1 {
    margin: 40px 0;
  }
}
