<div class="main-ctr col">
  <div class="card col">
    <div class="backRow row">
      <img src="/assets/utilities/back1.png" class="back" alt="" (click)="goBack()">
      <strong class="head primary">Create new Instructor profile</strong>
    </div>
    <div class="form col">
      <small><strong class="primary">Personal information</strong></small>
      <br>
      <div class="row row1">
        <div class="form-item col">
          <label for="fname">First Name</label>
          <input type="text">
        </div>
        <div class="form-item col">
          <label for="lname">Last Name</label>
          <input type="text">
        </div>
      </div>
      <div class="row row1">
        <div class="form-item col">
          <label for="phone">Phone number</label>
          <input type="text">
        </div>
        <div class="form-item col">
          <label for="email">Email address</label>
          <input type="text">
        </div>
      </div>
      <div class="row row1">
        <div class="form-item col">
          <label for="phone">Area of expertise</label>
          <input type="text">
        </div>
        <div class="form-item col">
          <label for="email">Maximum number of students</label>
          <input type="text">
        </div>
      </div>
      <br>
      <div class="row row1">
        <div class="form-item col">
          <small for="day" class="primary"><strong>Availability</strong></small>
          <br>
          <div class="row">
            <input type="checkbox" name="weekdays" id="" value="weekdays">
            <small><strong>Weekdays</strong></small>
          </div>
          <div class="row">
            <input type="checkbox" name="weekdays" id="" value="weekdays">
            <small><strong>Weekends</strong></small>
          </div>
        </div>
        <div class="form-item col">
          <small for="day" class="primary"><strong>Timing</strong></small>
          <br>
          <div class="row">
            <input type="checkbox" name="weekdays" id="" value="weekdays">
            <small><strong>Morning</strong></small>
          </div>
          <div class="row">
            <input type="checkbox" name="weekdays" id="" value="weekdays">
            <small><strong>Afternoon</strong></small>
          </div>
          <div class="row">
            <input type="checkbox" name="weekdays" id="" value="weekdays">
            <small><strong>Evening</strong></small>
          </div>
        </div>
      </div>
      <small><strong class="primary">Social accounts</strong></small>
      <br>
      <div class="row row1">
        <div class="form-item col">
          <label for="phone">Linkedin profile</label>
          <input type="text">
        </div>
        <div class="form-item col">
          <label for="email">Facebook profile</label>
          <input type="text">
        </div>
      </div>
      <div class="row row1">
        <div class="form-item col">
          <label for="phone">Instagram profile</label>
          <input type="text">
        </div>
        <div class="form-item col">
          <label for="email">Twitter profile</label>
          <input type="text">
        </div>
      </div>
      <small><strong class="primary">Account details</strong></small>
      <br>
      <div class="row row1">
        <div class="form-item col">
          <label for="pass">Password</label>
          <input type="password">
        </div>
        <div class="form-item col">
          <label for="email">Confirm Password</label>
          <input type="password">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="btn btn-primary">Submit and create Instructor</div>
      </div>
      <br>
      <small class="dark">*Please proceed to instructor profile after creating instructor to edit the display profile</small>
    </div>
  </div>
</div>
