<div class="main-ctr col">
  <div class="card col">
    <div class="backRow row">
      <img src="/assets/utilities/back1.png" class="back" alt="" (click)="goBack()">
      <strong class="head primary">Create new Instructor profile</strong>
    </div>
    <form [formGroup]="userSelectForm" (ngSubmit)="selectUser()" class="form col" *ngIf="!selectedUser">
      <small><strong class="primary">Select user</strong></small>
      <br>
      <div class="row row1">
        <div class="form-item col">
          <label for="fname">User ID</label>
          <input type="text" placeholder="User Id" formControlName="userid">
        </div>
        <div class="form-item col"></div>
      </div>
      <button class="btn btn-outline btn-sm" style="width: 300px;" type="submit">Select User</button>
      <small class="danger" *ngIf="submitted && userFormControl.userid.errors">Enter a valid user id.</small>
      <small class="danger" *ngIf="error && submitted">{{error}}</small>
    </form>

    <form [formGroup]="createInstructorForm" (ngSubmit)="createInstructor()" class="form col" *ngIf="selectedUser">
      <small><strong class="primary">Personal information</strong></small>
      <br>
      <div class="col row1">
        <h4 class="name dark">{{selectedUser.displayName}}</h4>
        <h4 class="email dark">{{selectedUser.email}}</h4>
      </div>
      <div class="row row1">
        <div class="form-item col">
          <label for="phone">Phone number</label>
          <input type="text" formControlName="phone">
        </div>
        <div class="form-item col">
        </div>
      </div>
      <div class="row row1">
        <div class="form-item col">
          <label for="phone">Area of expertise</label>
          <input type="text" formControlName="expertise">
        </div>
        <div class="form-item col">
          <label for="email">Maximum number of students</label>
          <input type="text" formControlName="maxStudents">
        </div>
      </div>
      <br>
      <div class="row row1">
        <div class="form-item col">
          <small for="day" class="primary"><strong>Availability</strong></small>
          <br>
          <div class="row">
            <input type="checkbox" name="weekdays" id="" value="weekdays" formControlName="weekdays">
            <small><strong>Weekdays</strong></small>
          </div>
          <div class="row">
            <input type="checkbox" name="weekdays" id="" value="weekdays" formControlName="weekend">
            <small><strong>Weekends</strong></small>
          </div>
        </div>
        <div class="form-item col">
          <small for="day" class="primary"><strong>Timing</strong></small>
          <br>
          <div class="row">
            <input type="checkbox" name="weekdays" id="" value="weekdays" formControlName="morning">
            <small><strong>Morning</strong></small>
          </div>
          <div class="row">
            <input type="checkbox" name="weekdays" id="" value="weekdays" formControlName="afternoon">
            <small><strong>Afternoon</strong></small>
          </div>
          <div class="row">
            <input type="checkbox" name="weekdays" id="" value="weekdays" formControlName="evening">
            <small><strong>Evening</strong></small>
          </div>
        </div>
      </div>
      <small><strong class="primary">Social accounts</strong></small>
      <br>
      <div class="row row1">
        <div class="form-item col">
          <label for="phone">Linkedin profile</label>
          <input type="text" formControlName="linkedin">
        </div>
        <div class="form-item col">
          <label for="email">Facebook profile</label>
          <input type="text" formControlName="facebook">
        </div>
      </div>
      <div class="row row1">
        <div class="form-item col">
          <label for="phone">Instagram profile</label>
          <input type="text" formControlName="instagram">
        </div>
        <div class="form-item col">
          <label for="email">Twitter profile</label>
          <input type="text" formControlName="twitter">
        </div>
      </div>
      <br>
      <div class="row">
        <button class="btn btn-primary" type="submit">Submit and create Instructor</button>
      </div>
      <br>
      <small class="dark">*Please proceed to instructor profile after creating instructor to edit the display profile</small>
    </form>
  </div>
</div>
