<div class="main-ctr col">
  <div class="card col">
    <div class="topbar row">
      <div class="backRow row">
        <img src="/assets/utilities/back1.png" class="back" (click)="goBack()" alt="">
        <strong class="head primary">Pending Applications</strong>
      </div>
      <div class="flex-grow"></div>
      <div class="btn btn-primary" [class.btn-disabled]="!selectedUser" (click)="viewApplication()">View Application</div>
    </div>
    <div class="items col">
      <app-ag-grid [header]="head" [url]="url" (rowSelected)="rowSelected($event)"></app-ag-grid>
    </div>
  </div>
</div>
