<div class="main-ctr col">
  <div class="card col">
    <strong class="primary">Website Settings</strong>
    <br>
    <div class="row split">
      <div class="item col">
        <small class="primary"><strong>Course Categories</strong></small>
        <div class="items row">
          <div class="listItem btn btn-outline row" *ngFor="let i of [1,1,1,1,1,1,1,1,1,1]">
            <span>Finance</span>
          </div>
        </div>
      </div>
      <div class="item col">
        <small class="primary"><strong>Active Coupons</strong></small>
        <div class="items row">
          <div class="listItem btn btn-outline row" *ngFor="let i of [1,1,1,1,1,1,1,1]">
            <span>40% off</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card blog col">
    <div class="row hd">
      <strong class="primary">Blogs (Only 4)</strong>
      <div class="flex-grow"></div>
      <a class="btn btn-primary">Create New Blog</a>
    </div>
    <div class="items row">
      <a routerLink="/blog/{{i}}" class="item" *ngFor="let i of [1,1,1,1]">
        <div class="img">
          <div class="image" [style.background]="'url(/assets/images/demo/blog-bg.jpg)'"></div>
        </div>
        <div class="cont col">
          <h3 class="title dark">The importance of art in work life balance and growth</h3>
          <span class="text dark">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</span>
          <small class="time dark">updated 6 days ago</small>
        </div>
      </a>
    </div>
  </div>
</div>
