.blog {
  .hd {
    align-items: center;
    .btn {
      padding: 5px 10px;
    }
  }
  .items {
    margin-top: 15px;
    flex-wrap: wrap;
    .item {
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: hidden;
      width: 24.5%;
      margin-right: 0.5%;
      margin-bottom: 15px;
      box-sizing: border-box;
      cursor: pointer;
      &:hover {
        background-color: #eee;
      }
      .img {
        width: 100%;
        position: relative;
        padding-top: 40%;
        box-sizing: border-box;
        background-color: #eee;
        .image {
          position: absolute;
          box-sizing: border-box;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-size: cover !important;
          background-position: center !important;
        }
      }
      .cont {
        padding: 5px;
        .title {
          margin: 0;
          font-size: 14px;
        }
        .text {
          font-size: 14px;
          margin-top: 8px;
        }
        .time {
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }
  }
}
