<div class="main-ctr col">
  <div class="card col">
    <div class="backRow row">
      <img
        src="/assets/utilities/back1.png"
        class="back"
        (click)="goBack()"
        alt=""
      />
      <strong class="primary">Instructor Application</strong>
    </div>
    <div class="ct" *ngIf="instructorData">
      <div class="top row">
        <div class="image">
          <img src="{{ user.photoURL }}" alt="" />
        </div>
        <div class="flex-grow right col dark">
          <h3 class="name">{{ user.displayName }}</h3>
          <strong class="email">{{ user.email }}</strong>
          <small>Member since - {{ user.createdAt }}</small>
        </div>
        <div class="last col">
          <div class="btn btn-success" (click)="approve()">Approve</div>
          <div class="btn btn-danger" (click)="reject()">Reject</div>
        </div>
      </div>
      <div class="about">
        <strong class="dark">Phone: {{ instructorData.phoneNumber }}</strong>
      </div>
      <div class="answers">
        <div class="item col">
          <label class="primary">Expertise</label>
          <div class="ans">{{ instructorData.areaOfExpertise }}</div>
        </div>
        <div class="item col">
          <label class="primary">About Yourself</label>
          <div class="ans">{{ instructorData.about }}</div>
        </div>
        <div class="item col">
          <label class="primary">Availability</label>
          <div class="ans">{{ instructorData.availability }}</div>
        </div>
        <div class="item col">
          <label class="primary">Timings</label>
          <div class="ans">{{ instructorData.timing }}</div>
        </div>
        <div class="item col">
          <label class="primary">Maximum Students</label>
          <div class="ans">{{ instructorData.maxNoOfStudents }}</div>
        </div>
        <div class="item col">
          <label class="primary">Social Accounts</label>
          <div class="ans">
            Linkedin -
            <a href="./" class="primary">{{
              instructorData.linkedinProfile
            }}</a>
          </div>
          <div class="ans">
            Facebook -
            <a href="./" class="primary">{{ instructorData.fbProfile }}</a>
          </div>
          <div class="ans">
            Twitter -
            <a href="./" class="primary">{{ instructorData.twitterProfile }}</a>
          </div>
          <div class="ans">
            Instagram -
            <a href="./" class="primary">{{ instructorData.instaProfile }}</a>
          </div>
        </div>
        <div class="item col" *ngIf="instructorData.resumes.length > 0">
          <label class="primary">Resume/File</label>
          <div class="ans" (click)="viewFile(instructorData.resumes[0])">
            Click here to view file
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
