<div class="main-ctr col">
  <div class="card">
    <div class="backRow row">
      <img src="/assets/utilities/back1.png" alt="" class="back" (click)="back()">
      <strong class="primary">Create New Blog</strong>
    </div>
    <div class="col select">
        <label for="" class="dark">Blog Title</label>
        <input type="text" placeholder="Blog title" [(ngModel)]="title" maxlength="80">
        <small class="danger">{{error}}</small>
        <button class="btn btn-primary" (click)="createBlog()">Create Blog <img *ngIf="loading" src="/assets/utilities/spinner-white.png" class="spin"></button>
    </div>
  </div>
</div>
