<div class="main-ctr col">
  <div class="row card top">
    <div class="f1 center">
      <h1 class="primary">2290</h1>
      <h3 class="dark">Users</h3>
    </div>
    <div class="f1">
      <h1 class="primary">300</h1>
      <h3 class="dark">Instructors</h3>
    </div>
    <div class="f1">
      <h1 class="primary">920</h1>
      <h3 class="dark">Active Courses</h3>
    </div>
    <div class="f1">
      <h1 class="primary">12k</h1>
      <h3 class="dark">Page Visits</h3>
    </div>
  </div>

  <div class="two row">
    <div class="card sec">
      <h4 class="primary head">Active Coupons</h4>
      <div class="items col">
        <div class="item row" *ngFor="let i of [1,1,1,1,1,1,1,1,1,1,1]">
          <strong class="name flex-grow">40% off on first course</strong>
          <div class="primary">OFF400</div>
          <img src="/assets/utilities/edit2.png" alt="">
        </div>
      </div>
    </div>
    <div class="card sec">
      <h4 class="primary head">Active Courses</h4>
      <div class="items">
        <div class="item row" *ngFor="let i of [1,1,1,1,1,1,1,1]">
          <strong class="name flex-grow"><small>Photography master class for beginners</small></strong>
          <div class="primary">John Doe</div>
          <img src="/assets/utilities/edit2.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="three col card">
    <div class="head primary">Error reports</div>
    <div class="items">
      <div class="item col" *ngFor="let i of [1,1,1,1,1]">
        <div class="row headrow">
          <small class="dark time">12 July 2020</small>
          <small class="dark title danger">Overflow error in the landing page.</small>
          <small class="primary email">johndoe@gmail.com</small>
          <small class="status success">Fixed</small>
        </div>
        <div class="ct dark">
          when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lor
        </div>
        <strong class="view primary">
          View Error
        </strong>
      </div>
    </div>
  </div>


</div>
